@charset "UTF-8";
:root {
    /* WebSocketのhost。処理タイミングの兼ね合いでこちらはアプリ側から変更する仕様 */
    --host:"localhost";
    /* WebSocketポート番号。処理タイミングの兼ね合いでこちらはアプリ側から変更する仕様 */
    --port:8765;
    /* 鍵盤やスクラッチなどで使う共通の枠線 */
    --border-common: #ccc solid 5px;
    /* 鍵盤ごとリリース速度表示のon/off */
    --disp-release-each-key:1;
    /* 鍵盤を押していないときの背景色 */
    --bg-off: rgba(0,0,0, 0.98);
    /* 鍵盤を押した時のエフェクトで使う内側の色 */
    --bg-on-inner: rgba(255,255,255, 0.98);
    /* 鍵盤を押した時のエフェクトで使うメインの色 */
    --bg-on-main: rgba(170, 221, 255, 0.98);
    /* 鍵盤を押した時のエフェクトで使うサブの色(SDVXのFXとか右つまみとかで使用) */
    --bg-on-sub: rgba(255,34,120,0.98);
}