@charset "UTF-8";
.container {
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0px;
}

.semicircle {
    border: var(--border-common);
    width: 240px;
    height: 240px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.1s ease-out;
}

.semicircle.rotating-right {
    animation: rotate-right 1s linear infinite;
}

.semicircle.rotating-left {
    animation: rotate-left 1s linear infinite;
}

.top-half {
    width: 240px;
    height: 120px;
    background: var(--bg-outer-scratch0);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 120px 120px 0 0;
}

.bottom-half {
    width: 240px;
    height: 120px;
    background: var(--bg-outer-scratch1);
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 120px 120px;
}

@keyframes rotate-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.controls {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.scr0{
    position: absolute;
    top: 26px;
    left:24px;
    box-sizing: border-box;
    background: var(--bg-scratch-off);
    border: var(--border-common);
    border-radius: 100px 100px 0% 0%;
    color: #0000aa;
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}
.scr1 {
    top: 122px;
    left:  24px;
    box-sizing: border-box;
    position: absolute;
    background: var(--bg-scratch-off);
    border: var(--border-common);
    border-radius: 0% 0% 100px 100px;
    color: #0000aa;
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}
.scr2{
    position: absolute;
    top: 22px;
    left:20px;
    box-sizing: border-box;
    background: var(--bg-scratch-off);
    border: var(--border-common);
    border-radius: 100px 100px 0% 0%;
    color: #0000aa;
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}
.scr3 {
    bottom: 22px;
    right:  20px;
    box-sizing: border-box;
    position: absolute;
    background: var(--bg-scratch-off);
    border: var(--border-common);
    border-radius: 0% 0% 100px 100px;
    color: #0000aa;
    display: inline-block;
    width: 200px;
    height: 100px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}