@charset "UTF-8";
html{
    height: 100%;
}
body { 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.99);
    margin: 0px;
    padding: 0px;
    font-family: 'RocknRoll One', sans-serif;
    color:#aaddff;   
    font-size:2px;
    color: #fff;
    text-shadow: 2px 2px 0 #000,
                    -2px 2px 0 #000,
                    2px -2px 0 #000,
                    -2px -2px 0 #000;
}
.background{
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 30px;
}
tr :nth-child(2){
    height: 30px;
}
table#ABCD{
    border-spacing: 20px 10px;
}
table#LR{
    border-spacing: 10px 10px;
}
table#ABCD td{ /* 鍵盤用テーブル内のtdサイズ、鍵盤領域のレイアウトを指定 */
    text-align: center;
    color: var(--color-release-eachkey);
    font-size: 32px;
    width: 120px;
    height: 120px;
    line-height: 1px;
    text-shadow: 1px 1px 0 #000,
                    -1px 1px 0 #000,
                    1px -1px 0 #000,
                    -1px -1px 0 #000;
}
table#LR td{ /* 鍵盤用テーブル内のtdサイズ、鍵盤領域のレイアウトを指定 */
    color: var(--color-release-eachkey);
    font-size: 32px;
    width: 120px;
    height: 60px;
    line-height: 1px;
    text-align: center;
}
td.btn{
    background: var(--bg-off);
    box-shadow: none;
    border: var(--border-common);
}
td.btn-u{
    background: var(--bg-off);
    box-shadow: none;
    border: var(--border-common);
}
td.btn-d{
    background: var(--bg-off);
    box-shadow: none;
    border: var(--border-common);
}
table.info{
    text-align: left;
    font-size: 32px;
    border-spacing: 0 0;
    line-height: 2px;
}
table.info td:nth-child(1){
    padding-left: 50px;
    padding-right: 10px;
}
table.info td:nth-child(2){
    text-align: right;
    padding-right: 15px;
}
table.info td:nth-child(4){
    padding-left: 50px;
}
.tumami0{
    background: var(--bg-off);
    border: var(--border-common);
    border-radius: 70% 0% 0% 70%;
    box-shadow: 0 0 0 2px #cccccc;
    color: #0000aa;
    display: inline-block;
    width: 30px;
    height: 45px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}
.tumami1 {
    background: var(--bg-off);
    border: var(--border-common);
    border-radius: 0 100% 100% 0;
    box-shadow: 0 0 0 2px #cccccc;
    color: #0000aa;
    display: inline-block;
    width: 30px;
    height: 45px;
    line-height: 3;
    margin: 0px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
}
warning {
    font-size: 60px;
    color: red;
}
release {
    color: var(--color-release-total);
    text-align: right;
}
density {
    color: var(--color-density);
    text-align: right;
}
notes {
    color: var(--color-notes);
}